
   <section class="form-content">
      
      <h2 style="color: white;z-index: 8;">Contact Me</h2>
      <div class="card-form ">
         
         <div>
            <h5 class="mb-5 text-start">Contact Form</h5>
         </div>
      
         <form  class="full-width-from"> 
            <mat-form-field appearance="outline" class="full-width">
               <mat-label>Name</mat-label>
               <input matInput >
            </mat-form-field>
           
            <mat-form-field appearance="outline" class="full-width">
               <mat-label>Email</mat-label>
               <input matInput >
            </mat-form-field>
           
            <mat-form-field appearance="outline" class="full-width">
               <mat-label>Subject</mat-label>
               <input matInput >
            </mat-form-field>
         
            <mat-form-field class="full-width" appearance="outline"> 
               <mat-label>Textarea</mat-label>
               <textarea matInput></textarea>
             </mat-form-field>
            
             <button mat-raised-button type="submit" class="full-width">Basic</button>

      
         </form>
 
         
      </div>
   </section>
