<header>
   <mat-toolbar class="d-flex justify-content-between align-items-center">
      <div>
         <div>My App</div>
         <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
         </button> -->
      </div>
      
      <div class="mx-3">
         <a mat-mat-button routerLink="" class="routerLink cursor-pointer me-3" >Home</a>
         <a mat-mat-button routerLink=""  class="routerLink cursor-pointer me-3" >Feature</a>
         <a mat-mat-button routerLink="" fragment="aboutme" class="routerLink cursor-pointer me-3" >About Me</a>
         <a mat-mat-button routerLink="" fragment="books" class="routerLink cursor-pointer me-3" >Books</a>
         <a mat-mat-button routerLink="" fragment="contact" class="routerLink cursor-pointer me-3" >Contact</a>
         <a mat-mat-button routerLink="login" class="routerLink cursor-pointer  " >Login</a>
      </div>
    </mat-toolbar>
      <!-- <a routerLink="dashboard" class="routerLink"style="cursor:pointer">Dashboard</a> -->

</header>
