<header>
   <mat-toolbar class="d-flex justify-content-between align-items-center mat-elevation-z2">

      <!-- Title -->
      <div>
         <div>TRIB-BUGG</div>
      </div>
      
      <!-- Menú -->
      <div class="mx-3">
         @if(isMobile){

            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" [matMenuTriggerFor]="menu">
               <mat-icon>menu</mat-icon>
            </button>

            <mat-menu #menu="matMenu">
               @for(item of itemsMenu;track item.title){
                  <button mat-menu-item [routerLink]="'/' + item.link" [fragment]="item.fragment">
                    <mat-icon>{{item.icon}}</mat-icon>
                    <span>{{item.title}}</span>
                  </button>
               }
            </mat-menu>
         }@else{
            @for(item of itemsMenu;track item.title){
               <a mat-mat-button routerLink="{{item.link}}" fragment="{{item.fragment}}" class="routerLink cursor-pointer me-3" >{{item.title}}</a>
            }
         }

      </div>

    </mat-toolbar>
</header>
