<main class="container-fluid my-5" >
   <div class="row mb-5 d-flex justify-content-center alignt align-items-center">
      <!-- <div class="col-12 col-sm-12 col-mb-12 col-md-6 main-align"> -->
      <div class="main-image d-flex justify-content-start alignt align-items-center">
         <div class="col-12 col-sm-12 col-mb-12 col-md-6">
            <div class="d-flex flex-column justify-content-start alignt align-items-start">
               <h3>{{title}}</h3>
               <p>{{description}}</p>
               <button mat-raised-button color="">{{labelButton}}</button>
            </div>
         </div>
      </div>
      <!-- </div> -->
      
   </div>
</main>
