
<div class="d-flex justify-content-center mb-5">

   <mat-card class="skill-card ">
      <span class="skill-card-icon">
         <div>
            <img src="{{dataCardSkills?.urlImage}}" alt="">
         </div>
      </span>
      <mat-card-header >
         <div class="skill-card-title">{{dataCardSkills?.title}}</div>
      </mat-card-header>
      <mat-card-content>
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, voluptate enim! Eligendi earum asperiores corrupti est commodi cupiditate. Maxime nesciunt fuga nemo!
      </mat-card-content>
   </mat-card>
</div>
