<section class="container container-fluid my-5">
   <article class="d-flex flex-column justify-content-center align-items-center">
      <div class="w-75">
         <h3 class="text-center">Habilidades</h3>
         <p>Estas son mis herramientas las cuales combino programación web (Angular, .NET Core, SQL Server) con desarrollo de videojuegos (Unity), fusionando habilidades técnicas de back-end y front-end con la creación de experiencias interactivas en 3D. Capaz de diseñar y implementar soluciones digitales completas, desde aplicaciones web empresariales hasta videojuegos inmersivos.</p>
      </div>
   </article>
   <div class="container-fluid my-5 ">
      <div class="row d-flex justify-content-center align-items-center gy-2 gx-2">
         @for(card of cardSkillsArray;track card.title){
            <div class="col-10 col-sm-8 col-mb-8 col-md-6 col-xl-4 ">
               <shared-card-skill [dataCardSkills]="card"></shared-card-skill>
            </div>
         }
      </div>
   </div>
   
</section>
