/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import "@angular/material/prebuilt-themes/indigo-pink.css";



// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  $primary-color: #83ae00;
  $secondary-color:#299bc7;
  $terciary-color: #b8008d;
  
  @include mat.button-overrides((
    protected-container-color: $primary-color,
    protected-label-text-color:rgb(255, 255, 255),
    
  ));

  @include mat.form-field-overrides((
    
    outlined-focus-outline-color: $primary-color,
    outlined-focus-label-text-color:$primary-color,
    error-focus-trailing-icon-color:$terciary-color

  ));
}


html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 0.9rem;
}


// --- General --- //
.cursor-pointer {
   cursor: pointer;
 }

 a{
  font-size: large;
  font-weight: lighter;
  font-style: none;
  text-decoration: none;
  color:black;
 }

 .full-width-form {
  display: flex;
  flex-direction: column;
}

.full-width {
  width: 100%;
}