<!-- shared/component/home:main-home -->
 <shared-header-home></shared-header-home>
<!-- shared/component/home:main-home -->
 <shared-main-home></shared-main-home>
<!-- FEATURES -->
 <shared-features-home></shared-features-home>


<!-- ABOUT ME -->
<section id="aboutme">
   <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, veritatis at? Quidem quisquam doloremque architecto similique eius voluptatum explicabo. Velit ea reiciendis deleniti iure minima in sequi facilis molestias ipsum!
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, veritatis at? Quidem quisquam doloremque architecto similique eius voluptatum explicabo. Velit ea reiciendis deleniti iure minima in sequi facilis molestias ipsum!
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, veritatis at? Quidem quisquam doloremque architecto similique eius voluptatum explicabo. Velit ea reiciendis deleniti iure minima in sequi facilis molestias ipsum!
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, veritatis at? Quidem quisquam doloremque architecto similique eius voluptatum explicabo. Velit ea reiciendis deleniti iure minima in sequi facilis molestias ipsum!
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, veritatis at? Quidem quisquam doloremque architecto similique eius voluptatum explicabo. Velit ea reiciendis deleniti iure minima in sequi facilis molestias ipsum!
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, veritatis at? Quidem quisquam doloremque architecto similique eius voluptatum explicabo. Velit ea reiciendis deleniti iure minima in sequi facilis molestias ipsum!
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, veritatis at? Quidem quisquam doloremque architecto similique eius voluptatum explicabo. Velit ea reiciendis deleniti iure minima in sequi facilis molestias ipsum!
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, veritatis at? Quidem quisquam doloremque architecto similique eius voluptatum explicabo. Velit ea reiciendis deleniti iure minima in sequi facilis molestias ipsum!</p>
</section>

<!-- BOOKS -->
 <section id="book">
   <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, veritatis at? Quidem quisquam doloremque architecto similique eius voluptatum explicabo. Velit ea reiciendis deleniti iure minima in sequi facilis molestias ipsum!
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, veritatis at? Quidem quisquam doloremque architecto similique eius voluptatum explicabo. Velit ea reiciendis deleniti iure minima in sequi facilis molestias ipsum!
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, veritatis at? Quidem quisquam doloremque architecto similique eius voluptatum explicabo. Velit ea reiciendis deleniti iure minima in sequi facilis molestias ipsum!
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, veritatis at? Quidem quisquam doloremque architecto similique eius voluptatum explicabo. Velit ea reiciendis deleniti iure minima in sequi facilis molestias ipsum!
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, veritatis at? Quidem quisquam doloremque architecto similique eius voluptatum explicabo. Velit ea reiciendis deleniti iure minima in sequi facilis molestias ipsum!
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, veritatis at? Quidem quisquam doloremque architecto similique eius voluptatum explicabo. Velit ea reiciendis deleniti iure minima in sequi facilis molestias ipsum!
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, veritatis at? Quidem quisquam doloremque architecto similique eius voluptatum explicabo. Velit ea reiciendis deleniti iure minima in sequi facilis molestias ipsum!
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, veritatis at? Quidem quisquam doloremque architecto similique eius voluptatum explicabo. Velit ea reiciendis deleniti iure minima in sequi facilis molestias ipsum!</p>
 </section>

<!-- CONTACT -->
 <section id="contact">
   <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, veritatis at? Quidem quisquam doloremque architecto similique eius voluptatum explicabo. Velit ea reiciendis deleniti iure minima in sequi facilis molestias ipsum!
   Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, veritatis at? Quidem quisquam doloremque architecto similique eius voluptatum explicabo. Velit ea reiciendis deleniti iure minima in sequi facilis molestias ipsum!
   Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, veritatis at? Quidem quisquam doloremque architecto similique eius voluptatum explicabo. Velit ea reiciendis deleniti iure minima in sequi facilis molestias ipsum!
   Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, veritatis at? Quidem quisquam doloremque architecto similique eius voluptatum explicabo. Velit ea reiciendis deleniti iure minima in sequi facilis molestias ipsum!
   Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, veritatis at? Quidem quisquam doloremque architecto similique eius voluptatum explicabo. Velit ea reiciendis deleniti iure minima in sequi facilis molestias ipsum!
   Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, veritatis at? Quidem quisquam doloremque architecto similique eius voluptatum explicabo. Velit ea reiciendis deleniti iure minima in sequi facilis molestias ipsum!
   Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, veritatis at? Quidem quisquam doloremque architecto similique eius voluptatum explicabo. Velit ea reiciendis deleniti iure minima in sequi facilis molestias ipsum!
   Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, veritatis at? Quidem quisquam doloremque architecto similique eius voluptatum explicabo. Velit ea reiciendis deleniti iure minima in sequi facilis molestias ipsum!</p>
 </section>

 <!-- FOOTER -->
  <footer>

  </footer>

  
