<!-- shared/component/home:main-home -->
<section id="main" style="padding-top:5rem" >
  <shared-main-home></shared-main-home>
</section>

<!-- FEATURES -->
 <section id="skills" style="padding-top:5rem">
   <shared-features-home></shared-features-home>
 </section>

<!-- ABOUT ME -->
<section id="aboutme" class="container" style="padding-top:5rem">
  <h3>About me</h3>
   <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, veritatis at? Quidem quisquam doloremque architecto similique eius voluptatum explicabo. Velit ea reiciendis deleniti iure minima in sequi facilis molestias ipsum!
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, veritatis at? Quidem quisquam doloremque architecto similique eius voluptatum explicabo. Velit ea reiciendis deleniti iure minima in sequi facilis molestias ipsum!
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, veritatis at? Quidem quisquam doloremque architecto similique eius voluptatum explicabo. Velit ea reiciendis deleniti iure minima in sequi facilis molestias ipsum!
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, veritatis at? Quidem quisquam doloremque architecto similique eius voluptatum explicabo. Velit ea reiciendis deleniti iure minima in sequi facilis molestias ipsum!
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, veritatis at? Quidem quisquam doloremque architecto similique eius voluptatum explicabo. Velit ea reiciendis deleniti iure minima in sequi facilis molestias ipsum!
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, veritatis at? Quidem quisquam doloremque architecto similique eius voluptatum explicabo. Velit ea reiciendis deleniti iure minima in sequi facilis molestias ipsum!
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, veritatis at? Quidem quisquam doloremque architecto similique eius voluptatum explicabo. Velit ea reiciendis deleniti iure minima in sequi facilis molestias ipsum!
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, veritatis at? Quidem quisquam doloremque architecto similique eius voluptatum explicabo. Velit ea reiciendis deleniti iure minima in sequi facilis molestias ipsum!</p>
</section>

<!-- BOOKS -->
 <section id="books"class="container" style="padding-top:5rem">
  <h3>Books</h3>
   <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, veritatis at? Quidem quisquam doloremque architecto similique eius voluptatum explicabo. Velit ea reiciendis deleniti iure minima in sequi facilis molestias ipsum!
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, veritatis at? Quidem quisquam doloremque architecto similique eius voluptatum explicabo. Velit ea reiciendis deleniti iure minima in sequi facilis molestias ipsum!
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, veritatis at? Quidem quisquam doloremque architecto similique eius voluptatum explicabo. Velit ea reiciendis deleniti iure minima in sequi facilis molestias ipsum!
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, veritatis at? Quidem quisquam doloremque architecto similique eius voluptatum explicabo. Velit ea reiciendis deleniti iure minima in sequi facilis molestias ipsum!
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, veritatis at? Quidem quisquam doloremque architecto similique eius voluptatum explicabo. Velit ea reiciendis deleniti iure minima in sequi facilis molestias ipsum!
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, veritatis at? Quidem quisquam doloremque architecto similique eius voluptatum explicabo. Velit ea reiciendis deleniti iure minima in sequi facilis molestias ipsum!
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, veritatis at? Quidem quisquam doloremque architecto similique eius voluptatum explicabo. Velit ea reiciendis deleniti iure minima in sequi facilis molestias ipsum!
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, veritatis at? Quidem quisquam doloremque architecto similique eius voluptatum explicabo. Velit ea reiciendis deleniti iure minima in sequi facilis molestias ipsum!</p>
 </section>

<!-- CONTACT -->
 <section id="contact" class="picture-form" style="padding-top:5rem">
  
  <shared-contact></shared-contact>
 </section>


 

  
